  /********** Base styles **********/
  * {
    box-sizing: border-box;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  }
  body {
    background-image: url('background_image.jpg');
  }
  h1 {
    margin-bottom: 15px;
    text-align: center;
    font-style: bold;
    font-style: Copperplate;
    font-size: 50px;
  }

  /* Simple Responsive Framework. */
  .row {
    width: 100%;
  }

  /********** desktop verson **********/
  @media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      width: 33.33%;
    }
  }

  /********** tablet version **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
      float: left;
      width: 50%;
    }
    .col-md-12 {
      float: left;
      width: 100%;
    }
  }

  /********** tablet version **********/
  @media (max-width: 767px) {
    .col-sm-12 {
      float: left;
      width: 100%;
    }
  }
  
  /* Section */
  section {
    margin: 10px;
    border: 1px solid black;
  }
  section>p {
    padding: 50px 10px 10px 10px;

  }
  /* Section title */
  section>h2 {
    width: 130px;
    height: 30px;
    border: 1px solid black;
    margin: 0px;
    float: right;
    text-align: center;
    font-style: italic;
    font-size: 175%;
  }

  section.Chicken {
    background-color: #D2C2AA;
  }
  section.Beef {
    background-color: #957C7C;
  }
  
  section.Sushi {
    background-color: #BFE6E8;
  }

  section.Chicken>h2 {
    background-color: #A6885A;
  }
  section.Beef>h2 {
    background-color: #AC5D5D;
  }
  
  section.Sushi>h2 {
    background-color: #5F9EA0;
  }
  section>p {
    font-size: 125%;
  }
